
td{
    width: 100px;
    height: 100px;
    background-color: blue;
}
body {
    

}
.gameboardContainer{
    display:flex;
    justify-content: center;
}
.gameboard{
    height: fit-content;
    width: fit-content;
    background-color: black;
    color: aliceblue;
    text-align: center;

}
.nameInput{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttonContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}